*{
    margin: 0;
}
.main-container{
    height: 770px;
    width: 1500px;
    border: 2px solid;
    margin: 5px;
}
.first-image-container,.second-image-container{
    height: 350px;
    width: 95%;
    border: 2px solid;
    margin: 10px;
    display: inline-block;
    display: flex;
    padding: 10px;
}
.item-containers{
    margin: 10px;
    position: relative;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.item-containers>p{
    position: absolute;
    top: 45%;
    left: 45%;

}
